<% title "Happy Tails - Real Good Dog Rescue" %>
<% if current_user && current_user.admin? %>
    <%= link_to "Create New Blog", new_blog_path %>
<% end %>
<% if @blogs.nil? %>
    <div class="bs-callout bs-callout-info">
        There are no blogs available
    </div>
<% else %>
    <% @blogs.each do |blog| %>
        <%= render blog, object: blog %>
    <% end %>
<% end %>
