<% title "Happy Tails - Real Good Dog Rescue" %>
<h1 align="center">News</h1>
<% if current_user && current_user.at_least_mod? %>
    <%= link_to "Create New Article", new_news_path %>
<% end %>
<% if @blogs.nil? %>
    <div class="bs-callout bs-callout-info">
        There are no blogs available
    </div>
<% else %>
    <% @blogs.each do |blog| %>
        <%= render blog, object: blog %>
    <% end %>
<% end %>
