<% title "New event - Real Good Dog Rescue" %>
<h1>New Event</h1>
<div class="bs-callout bs-callout-warning">
    <h4>Attention:</h4>
    Make sure you select if the event is special or not. You can change it later by editing it.
</div>
<%= render 'form' %>
