/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'QuicksandOTF';
}

a {
    font-family: 'QuicksandOTF';
}
.image {
    user-drag: none;
}

#background {
    //background: #FFF8EB;
    background: url(/assets/stock_dog.jpg) no-repeat top right;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.nav > li > a:hover, .nav > li > a:focus { 
    background-color: #EBFFEE;
    color: #000000;
}

.navbar {
    background-color: #EBFFEE;
    opacity: 0.9;
}

.navbar-fixed-bottom {
    background-color: #EBFFEE;
    opacity: 1;
    
}

a:hover {
    background-color: transparent;
}
a.navbar-brand:hover, a.navbar-brand:focus {
    background-color: #f7f7f9;
    color: #000000;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.content {
    background-color: #EBF2FF;
    opacity: 0.9;
}

.sidebar {
    //background-color: #FFEBFC;
    background-color: #EBF2FF;
}


.footer {
    background-color: #C4C4C4;
    opacity: 0.9;
    height: 35px;
    position: relative;
    bottom: 0 !important;
    margin: 0 !important;
    width: 100%;
}

span {
    margin-top: 3px;
    vertical-align: middle;
}

//quicksand font
@font-face {
    font-family: 'QuicksandOTF';
    src:url('/assets/Quicksand-Regular.otf');
}
