/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 */
@import "bootstrap";


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'QuicksandOTF';
    color: white;
}

a {
    font-family: 'QuicksandOTF';
    color: white;
}
//main page container links
.container a:visited {
    color: rgb(196, 203, 255);
}

.container a:visited:hover, a:hover {
    color: #FFAE00;
}

.image {
    user-drag: none;
}

//BG
#background {
    background: #FFF8EB;
    //background: url(/assets/stock_dog.jpg) no-repeat top right;
    background: url(/assets/rgdr_logo.png) no-repeat;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: 50% 100%;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //-webkit-background-size: cover;
}

//top & bottom navbar
.nav > li > a:hover, .nav > li > a:focus { 
    color: rgb(0, 0, 0);
    //color: black;
    //color: #000000;
}

.navbar {
    background-color: #FFAE00;
    font-weight: bold;
    font-size: 20pt;
    opacity: 1;
}

.navbar.fixed-bottom {
    background-color: #222222;
    opacity: 1;
    
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

//links
a:hover {
    background-color: transparent;
}

a.navbar-brand:hover, a.navbar-brand:focus {
    color: red;
    //background-color: #f7f7f9;
    //color: #000000;
}

//padding on the columns

.nopadding {
    padding: 0;
    margin: 0;
}

//Main page
.content {
    background-color: #123456;
    opacity: 0.9;
    margin-bottom: 0 !important;
}

.sidebar {
    //background-color: #FFEBFC;
    background-color: #123456;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0 !important;
}


.footer {
    background-color: #222222;
    opacity: 1;
    height: 35px;
    position: relative;
    color: #FFAE00;
    bottom: 0 !important;
    margin: 0 !important;
    width: 100%;
}

span {
    margin-top: 3px;
    vertical-align: middle;
}

//banner 

.banner {
    width: 100%;
    display: table-cell;
    position: relative;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h2.banner-h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    padding-left: 50px;
    color: white;
    background-color: black;
    font: bold 24px/45px Helvetica, Sans-Serif;
    opacity: 0.8;
}
//quicksand font
@font-face {
    font-family: 'QuicksandOTF';
    src:url('/assets/Quicksand-Regular.otf');
}

//footer
footer {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 8pt;
    font-color: grey;
    background-color: #2E2E2E;
    padding-top: 20px;
    bottom: 0 !important;
    margin: 0 !important;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: black;
}

//Blogs

#blog-date {
    font-size: 8pt;
    font-color: #DBDBDB;
}

.blog-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

////Comments

.comment {
   padding: 10px;
   margin: 15px 0;
   margin-left: 20px;
   margin-right: 20px;
   color: black;
   //width: 80%;
   border: 1px solid #B5B4B4;
   border-radius: 3px;
   border-left-width: 5px;
   background-color: #EBEBEB;
}

#full-comments {
    font-size: 8pt;
    font-weight: bold;
    color: #DBDBDB;
}

.comment-user {
    color: #2C1FA3;
    font-weight: bold;
    font-size: 8pt;
}

.comment-footer {
    font-size: 8pt;
}

// pets


.pet-container {
    border: 2px solid rgb(176, 176, 176);
    border-radius: 3px;
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
    margin: 15px;
    display: table-cell;
    width: 25%;

}

.pet-container p {
    font-size: 12pt;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}

.pet-container a:visited {
    color: rgb(0, 168, 255) !important;
}

.pet_name {
    color: rgb(0, 168, 255) !important;
}



.pet-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

//user management

#users_table a, a:visited{
    color: black;
}

#users_table a:hover, a:visited:hover {
    color: #FFAE00;
}


//form requirements
label.required:after {
    color: red;
    content: "*";
}

//adopt forms

.adopt-form-radio {
    border: 1px solid white;
    margin: 20px;
}


//cards

.card { 
    background-color: #272727;
}

.card-header {
  background-color: black;
}
